{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-start">
    <div>
        <h1>{{ lobby.title }}</h1>
        <p class="text-muted">Game: {{ lobby.game.title }} | Host: {{ lobby.host.username }}</p>
    </div>

    {% if user == lobby.host %}
        <a href="{% url 'lobbies:lobby-delete' lobby.game.slug lobby.invite_link %}" class="btn btn-outline-danger">
            <i class="bi bi-trash"></i> Delete Lobby
        </a>
    {% endif %}
</div>
  <p>Description: {{ lobby.description }}</p>


  <hr>

  <h3>Slots ({{ lobby.filled_count }}/{{ lobby.size }})</h3>

  <ul class="list-group">
    {% for slot in lobby.slots.all %}
      {% include "lobbies/partials/slot_card.html" %}
    {% endfor %}
  </ul>

  <script src="https://unpkg.com/htmx.org@1.9.6"></script>

  <a href="{% url 'lobbies:lobby-list' lobby.game.slug %}">Back to Lobby List</a>

{% endblock %}